Repository roger-rangel/Segenie, pull requests merged in 2023-03, with the labels that each got.

#33 Starting UI for NFT transfer functionality
  src/segenie_frontend/src/Hooks/useNewPortal.jsx
  src/segenie_frontend/src/Views/Dashboard/components/UserMenu.jsx
  src/segenie_frontend/src/Views/NewPortal/NewPortal.jsx
  src/segenie_frontend/src/Views/NewPortal/PortalComponents/SecondPage/SecondPage.jsx
  src/segenie_frontend/src/Views/NewPortal/PortalComponents/SecondPageContent/SecondPageContent.jsx
  src/segenie_frontend/src/Views/ProfilePage/ProfilePage.jsx
  src/segenie_frontend/src/Views/ProfilePage/ProfilePage.module.scss
  src/segenie_frontend/src/Views/ProfilePage/about/About.jsx
  src/segenie_frontend/src/Views/ProfilePage/about/About.module.scss
  src/segenie_frontend/src/Views/ProfilePage/nav/Nav.jsx
  src/segenie_frontend/src/Views/ProfilePage/portals/Portals.jsx
  src/segenie_frontend/src/Views/ProfilePage/portals/Portals.module.scss
  src/segenie_frontend/src/Views/ProfilePage/stats/Stats.jsx
  src/segenie_frontend/src/Views/ProfilePage/stats/Stats.module.scss
  src/segenie_frontend/src/index.js
Labels: Milestone 1, Frontend

#35 Transfer functionality
  src/segenie_backend/creators/src/tests.rs
  src/segenie_backend/portals/src/lib.rs
  src/segenie_backend/portals/src/tests.rs
  src/segenie_backend/segenie_backend.did
  src/segenie_backend/segenie_backend.old.did
  src/segenie_backend/src/lib.rs
Labels: enhancement, Backend

#34 NFT-transfer functionality modal
  src/segenie_backend/segenie_backend.old.did
  src/segenie_frontend/src/Hooks/useNewPortal.jsx
  src/segenie_frontend/src/Views/Dashboard/Dashboard.jsx
  src/segenie_frontend/src/Views/Dashboard/components/TransferNFT.jsx
  src/segenie_frontend/src/Views/NewPortal/NewPortal.jsx
  src/segenie_frontend/src/Views/ProfilePage/ProfilePage.jsx
  src/segenie_frontend/src/Views/ProfilePage/portals/Portals.jsx
Labels: Milestone 1, Frontend

#37 Image-upload feature
  package-lock.json
  package.json
  src/segenie_backend/portals/src/lib.rs
  src/segenie_backend/segenie_backend.did
  src/segenie_backend/segenie_backend.old.did
  src/segenie_backend/src/lib.rs
  src/segenie_frontend/src/Hooks/useNewPortal.jsx
  src/segenie_frontend/src/Views/Dashboard/Dashboard.jsx
  src/segenie_frontend/src/Views/Dashboard/components/Menu.jsx
  src/segenie_frontend/src/Views/Dashboard/components/TransferNFT.jsx
  src/segenie_frontend/src/Views/NewPortal/NewPortal.jsx
  src/segenie_frontend/src/Views/NewPortal/PortalComponents/SecondPage/SecondPage.jsx
  src/segenie_frontend/src/Views/NewPortal/PortalComponents/SecondPageContent/SecondPageContent.jsx
  src/segenie_frontend/src/Views/ProfilePage/ProfilePage.jsx
  src/segenie_frontend/src/Views/ProfilePage/portals/Portals.jsx
  src/segenie_frontend/src/index.js
Labels: enhancement, Milestone 1, Frontend
